Repository wolskies/ansible-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-jinja2-templates, ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

validate-jinja2-templates:
  name: Validate Jinja2 Templates
  entry: python3 scripts/validate_templates.py
  language: python
  additional_dependencies:
  - jinja2

ansible-failure-patterns:
  name: Check for patterns that caused test failures
  entry: bash -c
  language: system
  args:
  ...

conditional-safety:
  name: Check conditional safety patterns
  entry: bash -c
  language: system
  args:
  ...

test-data-realism:
  name: Check test data realism
  entry: bash -c
  language: system
  args:
  ...

molecule-coverage:
  name: Validate molecule test coverage
  entry: bash -c
  language: system
  args:
  ...

refine INFRA requirements REQ-INFRA-005 and REQ-INFRA-009 for practical compliance
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
Due: none

fix os_configuration: remove state-based configuration behavior
  roles/os_configuration/meta/main.yml
  roles/os_configuration/tasks/configure-Archlinux.yml
  roles/os_configuration/tasks/configure-Debian.yml
Due: ansible-failure-patterns, conditional-safety

implement REQ-SS-001 through REQ-SS-007: complete manage_security_services role
  roles/manage_security_services/molecule/default/molecule.yml
  roles/manage_security_services/molecule/default/verify.yml
  roles/manage_security_services/tasks/security-Linux.yml
  roles/manage_security_services/templates/jail.local.j2
Due: validate-jinja2-templates, ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

implement REQ-MP-003 and REQ-MP-006: complete package management restructure
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  docs/validation/MANAGE_PACKAGES_VALIDATION_PLAN.md
  docs/validation/MANAGE_SECURITY_SERVICES_VALIDATION_PLAN.md
  docs/validation/OS_CONFIGURATION_VALIDATION_PLAN.md
  roles/manage_packages/molecule/default/molecule.yml
  roles/manage_packages/molecule/default/verify.yml
  roles/manage_packages/tasks/main.yml
  roles/manage_packages/tasks/manage-packages-Archlinux.yml
  roles/manage_packages/tasks/manage-packages-Darwin.yml
  roles/manage_packages/tasks/manage-packages-Debian.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

implement REQ-MP-013 container testing with no-container skip tags
  docs/validation/MANAGE_PACKAGES_VALIDATION_PLAN.md
  roles/manage_packages/molecule/default/verify.yml
  roles/manage_packages/tasks/manage-packages-Archlinux.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

implement manage_packages tag strategy
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  roles/manage_packages/tasks/manage-packages-Archlinux.yml
  roles/manage_packages/tasks/manage-packages-Darwin.yml
  roles/manage_packages/tasks/manage-packages-Debian.yml
Due: ansible-failure-patterns, conditional-safety

implement manage_snap_packages role with comprehensive testing
  .gitlab-ci.yml
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  roles/manage_snap_packages/molecule/default/molecule.yml
  roles/manage_snap_packages/molecule/default/prepare.yml
  roles/manage_snap_packages/molecule/default/verify.yml
  roles/manage_snap_packages/tasks/disable-snap.yml
  roles/manage_snap_packages/tasks/main.yml
  roles/manage_snap_packages/tasks/manage-packages.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

document comprehensive CI approach and validation plan requirements
  docs/TEST_REQUIREMENTS_DOCUMENT.md
Due: none

fix critical CI gap and add manage_snap_packages validation plan
  .gitlab-ci.yml
  docs/validation/MANAGE_SNAP_PACKAGES_VALIDATION_PLAN.md
Due: ansible-failure-patterns, conditional-safety

fix REQ-MP-013 AUR verification for container limitations and implement manage_flatpak standardization
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  docs/validation/MANAGE_FLATPAK_VALIDATION_PLAN.md
  roles/manage_flatpak/molecule/default/molecule.yml
  roles/manage_flatpak/molecule/default/verify.yml
  roles/manage_flatpak/tasks/main.yml
  roles/manage_packages/molecule/default/molecule.yml
  roles/manage_packages/molecule/default/verify.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

remove deprecated hash_behaviour=merge dependency from collection architecture
  CLAUDE.md
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  docs/TEST_REQUIREMENTS_DOCUMENT.md
Due: none

fix REQ-MP-013 AUR verification for container limitations and implement manage_flatpak standardization
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  docs/validation/MANAGE_FLATPAK_VALIDATION_PLAN.md
  docs/validation/MANAGE_PACKAGES_VALIDATION_PLAN.md
  roles/manage_flatpak/molecule/default/verify.yml
  roles/manage_flatpak/tasks/main.yml
  roles/manage_packages/molecule/default/molecule.yml
  roles/manage_packages/molecule/default/verify.yml
  roles/manage_packages/tasks/manage-packages-Archlinux.yml
  roles/manage_packages/tasks/manage-packages-Darwin.yml
  roles/manage_packages/tasks/manage-packages-Debian.yml
  roles/manage_snap_packages/molecule/default/molecule.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

fix critical CI idempotence failures in configure_user and manage_packages
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  docs/validation/CONFIGURE_USER_VALIDATION_PLAN.md
  roles/configure_user/molecule/default/converge.yml
  roles/configure_user/molecule/default/molecule.yml
  roles/configure_user/molecule/default/prepare.yml
  roles/configure_user/molecule/default/verify.yml
  roles/configure_user/tasks/configure-dotfiles.yml
  roles/configure_user/tasks/main.yml
  roles/configure_user/templates/sudoers.j2
  roles/manage_packages/molecule/default/molecule.yml
Due: validate-jinja2-templates, ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

fix REQ-MP-001 test assertion for additive package combining
  roles/manage_packages/molecule/default/verify.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

fix REQ-CU-019 dotfiles test main branch creation
  roles/configure_user/molecule/default/prepare.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

fix configure_user idempotence issues in molecule tests
  roles/configure_user/tasks/configure-dotfiles.yml
  roles/configure_user/tasks/main.yml
Due: ansible-failure-patterns, conditional-safety

fix configure_user idempotence by separating user creation and removal tests
  roles/configure_user/molecule/default/converge.yml
  roles/configure_user/molecule/default/molecule.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

implement REQ-NODE-001/002 nodejs role enhancements and fix REQ-CU-002 configure_user
  CLAUDE.md
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  docs/source/Makefile
  docs/source/conf.py
  docs/source/index.rst
  docs/source/make.bat
  docs/source/role_configure_system.rst
  docs/source/role_configure_user.rst
  docs/source/role_discovery.rst
  docs/source/role_docker_compose_generic.rst
  docs/source/role_go.rst
  docs/source/role_install_docker.rst
  docs/source/role_manage_flatpak.rst
  docs/source/role_manage_packages.rst
  docs/source/role_manage_security_services.rst
  docs/source/role_manage_snap_packages.rst
  docs/source/role_neovim.rst
  docs/source/role_nodejs.rst
  docs/source/role_os_configuration.rst
  docs/source/role_rust.rst
  docs/source/role_terminal_config.rst
  docs/validation/nodejs_role_validation.md
  roles/configure_user/molecule/default/converge.yml
  roles/configure_user/molecule/default/verify.yml
  roles/configure_user/tasks/main.yml
  roles/nodejs/defaults/main.yml
  roles/nodejs/molecule/default/molecule.yml
  roles/nodejs/molecule/default/verify.yml
  roles/nodejs/tasks/main.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

implement REQ-RUST-001/002 rust role comprehensive enhancement
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  docs/validation/go_role_validation.md
  docs/validation/rust_role_validation.md
  roles/go/molecule/default/molecule.yml
  roles/go/molecule/default/verify.yml
  roles/go/tasks/main.yml
  roles/rust/molecule/default/molecule.yml
  roles/rust/molecule/default/verify.yml
  roles/rust/tasks/main.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

implement REQ-RUST-001/002 rust role comprehensive enhancement
  roles/neovim/molecule/default/molecule.yml
  roles/neovim/molecule/default/verify.yml
  roles/neovim/tasks/main.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

update SRD neovim section to reflect comprehensive role implementation
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  docs/validation/neovim_role_validation.md
Due: none

Path conditions:
  validate-jinja2-templates: any of: \.j2$
  ansible-failure-patterns: any of: \.(yml|yaml)$
  conditional-safety: any of: \.(yml|yaml)$
  test-data-realism: any of: molecule/.*/.*\.yml$
  molecule-coverage: any of: molecule/.*
