Repository wolskies/ansible-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-jinja2-templates, ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

validate-jinja2-templates:
  name: Validate Jinja2 Templates
  entry: python3 scripts/validate_templates.py
  language: python
  additional_dependencies:
  - jinja2

ansible-failure-patterns:
  name: Check for patterns that caused test failures
  entry: bash -c
  language: system
  args:
  ...

conditional-safety:
  name: Check conditional safety patterns
  entry: bash -c
  language: system
  args:
  ...

test-data-realism:
  name: Check test data realism
  entry: bash -c
  language: system
  args:
  ...

molecule-coverage:
  name: Validate molecule test coverage
  entry: bash -c
  language: system
  args:
  ...

Complete comprehensive Software Requirements Document (SRD) v1.0
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
Due: none

cleanup
  vm-test-infrastructure/phase3-expanded-linux/terraform/inventory.ini
Due: none

Complete comprehensive Test Requirements Document (TRD) v1.0
  docs/TEST_REQUIREMENTS_DOCUMENT.md
Due: none

fix lint regressions: restore known good state
  CLAUDE.md
  PHASE_III_PLAN.md
  docs/CI_FAILURES_FIX_PLAN.md
  docs/DEVELOPMENT_WORKFLOW.md
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  docs/TEST_REQUIREMENTS_DOCUMENT.md
  docs/planning/FEATURE_REQUESTS.md
  docs/planning/FEATURE_TEST_MATRIX.md
  docs/planning/IMPLEMENTATION_STEPS_v1.2.0.md
  docs/planning/MASTER_REFERENCE_CONFIG.yml
  docs/planning/PHASE_III_PLAN.md
  docs/planning/RELEASE_PLAN_v1.2.0.md
  docs/validation/OS_CONFIGURATION_GAP_ANALYSIS.md
  docs/validation/OS_CONFIGURATION_VALIDATION_PLAN.md
  playbooks/validate_vm_configuration.yml
  roles/os_configuration/tasks/main.yml
  roles/os_configuration/tasks/users.yml
  vm-test-infrastructure/phase1-local-linux/terraform/cloud-init/network-config.yml
  vm-test-infrastructure/phase1-local-linux/validate-phase1.yml
Due: ansible-failure-patterns, conditional-safety

implement REQ-OS-003 timezone configuration validation
  docs/CI_FAILURES_FIX_PLAN.md
  docs/validation/OS_CONFIGURATION_GAP_ANALYSIS.md
  docs/validation/OS_CONFIGURATION_VALIDATION_PLAN.md
  roles/os_configuration/molecule/default/molecule.yml
  roles/os_configuration/molecule/default/verify.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

implement REQ-OS-001 hostname configuration validation
  docs/validation/OS_CONFIGURATION_VALIDATION_PLAN.md
  roles/os_configuration/molecule/default/molecule.yml
  roles/os_configuration/molecule/default/verify.yml
  roles/os_configuration/tasks/main.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

implement REQ-OS-002 /etc/hosts update validation
  docs/validation/OS_CONFIGURATION_VALIDATION_PLAN.md
  roles/os_configuration/molecule/default/molecule.yml
  roles/os_configuration/molecule/default/verify.yml
  roles/os_configuration/tasks/main.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

add git commit message format to development guidelines
  CLAUDE.md
Due: none

implement REQ-OS-004 devsec.hardening.os_hardening role delegation validation
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  docs/validation/OS_CONFIGURATION_VALIDATION_PLAN.md
  roles/os_configuration/molecule/default/molecule.yml
  roles/os_configuration/molecule/default/verify.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

implement REQ-OS-005: SSH hardening role delegation
  docs/validation/OS_CONFIGURATION_VALIDATION_PLAN.md
  roles/os_configuration/molecule/default/molecule.yml
  roles/os_configuration/molecule/default/verify.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

implement REQ-OS-006: Complete state-based validation with CI-friendly container handling
  docs/validation/OS_CONFIGURATION_VALIDATION_PLAN.md
  roles/os_configuration/molecule/default/verify.yml
  roles/os_configuration/tasks/configure-Linux.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

implement REQ-OS-008: basic time synchronization using systemd-timesyncd
  roles/os_configuration/molecule/default/molecule.yml
  roles/os_configuration/molecule/default/verify.yml
  roles/os_configuration/tasks/configure-Linux.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

implement REQ-OS-009: systemd journal configuration validation
  roles/os_configuration/molecule/default/molecule.yml
  roles/os_configuration/molecule/default/verify.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

remove REQ-OS-010: move remote logging to dedicated role
  roles/os_configuration/handlers/main.yml
  roles/os_configuration/tasks/configure-Linux.yml
Due: ansible-failure-patterns, conditional-safety

consolidate molecule container testing from 23 to 5 containers
  roles/os_configuration/molecule/default/molecule.yml
  roles/os_configuration/molecule/default/verify.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

refactor: apply evidence-based container testing methodology
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  docs/TEST_REQUIREMENTS_DOCUMENT.md
  docs/validation/OS_CONFIGURATION_VALIDATION_PLAN.md
  roles/os_configuration/molecule/default/molecule.yml
  roles/os_configuration/molecule/default/verify.yml
  roles/os_configuration/tasks/configure-Linux.yml
  roles/os_configuration/tasks/main.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

implement REQ-OS-016 custom udev rules deployment with unique loop variables
  roles/os_configuration/molecule/default/molecule.yml
  roles/os_configuration/molecule/default/verify.yml
  roles/os_configuration/tasks/configure-Linux.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

implement REQ-OS-017, REQ-OS-017a, REQ-OS-018: APT configuration with state-based management
  roles/os_configuration/molecule/default/molecule.yml
  roles/os_configuration/molecule/default/verify.yml
  roles/os_configuration/tasks/configure-Debian.yml
  roles/os_configuration/templates/50unattended-upgrades.j2
Due: validate-jinja2-templates, ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

fix REQ-OS-017: resolve APT proxy CI failure by relocating test configuration
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  roles/os_configuration/molecule/default/molecule.yml
  roles/os_configuration/molecule/default/verify.yml
  roles/os_configuration/tasks/configure-Archlinux.yml
  roles/os_configuration/tasks/configure-Debian.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

finalize os_configuration role: rationalize tags and complete documentation
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  roles/os_configuration/tasks/configure-Archlinux.yml
  roles/os_configuration/tasks/configure-Darwin.yml
  roles/os_configuration/tasks/configure-Debian.yml
  roles/os_configuration/tasks/configure-Linux.yml
  roles/os_configuration/tasks/main.yml
Due: ansible-failure-patterns, conditional-safety

Path conditions:
  validate-jinja2-templates: any of: \.j2$
  ansible-failure-patterns: any of: \.(yml|yaml)$
  conditional-safety: any of: \.(yml|yaml)$
  test-data-realism: any of: molecule/.*/.*\.yml$
  molecule-coverage: any of: molecule/.*
