Repository wolskies/ansible-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-jinja2-templates, ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

validate-jinja2-templates:
  name: Validate Jinja2 Templates
  entry: python3 scripts/validate_templates.py
  language: python
  additional_dependencies:
  - jinja2

ansible-failure-patterns:
  name: Check for patterns that caused test failures
  entry: bash -c
  language: system
  args:
  ...

conditional-safety:
  name: Check conditional safety patterns
  entry: bash -c
  language: system
  args:
  ...

test-data-realism:
  name: Check test data realism
  entry: bash -c
  language: system
  args:
  ...

molecule-coverage:
  name: Validate molecule test coverage
  entry: bash -c
  language: system
  args:
  ...

Delete README.md
  .claude/README.md
Due: none

Delete development-methodology.md
  .claude/context/development-methodology.md
Due: none

Delete lessons-learned.md
  .claude/context/lessons-learned.md
Due: none

Delete testing-strategy.md
  .claude/context/testing-strategy.md
Due: none

Delete vm-testing-plan.md
  .claude/context/vm-testing-plan.md
Due: none

fix(configure_users): fix dotfiles stow conflict backup handling
  roles/configure_users/molecule/default/prepare.yml
  roles/configure_users/molecule/default/verify.yml
  roles/configure_users/tasks/configure-dotfiles.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

chore: bump version to 1.3.0 with comprehensive changelog
  CHANGELOG.md
  galaxy.yml
Due: ansible-failure-patterns, conditional-safety

Fix old role name references in molecule tests
  roles/install_go/molecule/default/converge.yml
  roles/install_neovim/molecule/default/converge.yml
  roles/install_nodejs/molecule/default/converge.yml
  roles/install_rust/molecule/default/converge.yml
  roles/install_terminfo/molecule/default/converge.yml
  roles/install_terminfo/molecule/default/verify.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

Fix ansible-lint errors from refactor
  playbooks/setup-server-example.yml
  playbooks/setup-workstation-example.yml
  roles/configure_operating_system/meta/main.yml
  roles/configure_software/tasks/main.yml
  roles/system_setup/tasks/main.yml
Due: ansible-failure-patterns, conditional-safety

Add Architecture Decision Records (ADR) infrastructure
  docs/architecture/ADR-001-dynamic-service-orchestration.md
  docs/architecture/ISSUE-configure-services-implementation.md
  docs/architecture/README.md
Due: none

Fix CI failures from 1.3.0 role name refactor
  .gitlab-ci.yml
  molecule/minimal/converge.yml
  molecule/vm_test/converge.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

update changelog for v1.3.0
  CHANGELOG.md
Due: none

Fix argument_specs firewall rules to match actual implementation
  roles/configure_operating_system/meta/argument_specs.yml
Due: ansible-failure-patterns, conditional-safety

Path conditions:
  validate-jinja2-templates: any of: \.j2$
  ansible-failure-patterns: any of: \.(yml|yaml)$
  conditional-safety: any of: \.(yml|yaml)$
  test-data-realism: any of: molecule/.*/.*\.yml$
  molecule-coverage: any of: molecule/.*
