Repository wolskies/ansible-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-jinja2-templates, ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

Path conditions:
  validate-jinja2-templates: any of: \.j2$
  ansible-failure-patterns: any of: \.(yml|yaml)$
  conditional-safety: any of: \.(yml|yaml)$
  test-data-realism: any of: molecule/.*/.*\.yml$
  molecule-coverage: any of: molecule/.*

chore: add gitleaks config to allowlist template files
  .gitleaks.toml
Due: none

feat: add gitleaks secret scanning to pre-commit and CI
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: ansible-failure-patterns, conditional-safety

chore: prepare v1.2.0 release
  CHANGELOG.md
Due: none

chore: remove Galaxy publishing from CI pipeline
  .gitlab-ci.yml
Due: ansible-failure-patterns, conditional-safety

fix: correct GitLab Pages deployment configuration
  .gitignore
  .gitlab-ci.yml
Due: ansible-failure-patterns, conditional-safety

fix: install wget in validation stage for gitleaks download
  .gitlab-ci.yml
Due: ansible-failure-patterns, conditional-safety

fix: use curl instead of wget for gitleaks download
  .gitlab-ci.yml
Due: ansible-failure-patterns, conditional-safety

chore: exclude test/validation jobs from tag pipelines
  .gitlab-ci.yml
  docs/reference/variables-reference.rst
Due: ansible-failure-patterns, conditional-safety

fix: ensure Arch Linux timezone configuration is idempotent
  roles/os_configuration/tasks/main.yml
Due: ansible-failure-patterns, conditional-safety

fix: resolve Ansible temp directory creation failure in CI for Arch container
  docs/conf.py
  docs/discovery-audit/issues-to-create.md
  docs/discovery-audit/task1-collection-variables.md
  docs/discovery-audit/task2-discovery-capabilities.md
  docs/discovery-audit/task3-gap-analysis-original.md
  docs/discovery-audit/task3-gap-analysis.md
  docs/discovery-audit/task4-prioritization.md
  roles/os_configuration/molecule/default/molecule.yml
  roles/os_configuration/molecule/default/prepare.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

fix: install pyyaml via pip in update-changelog job
  .gitlab-ci.yml
Due: ansible-failure-patterns, conditional-safety

fix: install pyyaml via pip in create-release job
  .gitlab-ci.yml
Due: ansible-failure-patterns, conditional-safety

fix: resolve three critical CI issues
  .gitlab-ci.yml
Due: ansible-failure-patterns, conditional-safety

fix: use GITLAB_RELEASE_TOKEN for release automation
  .gitlab-ci.yml
Due: ansible-failure-patterns, conditional-safety

fix: add tmpfs mounts to all Molecule platforms to prevent /tmp race conditions
  roles/configure_users/molecule/default/molecule.yml
  roles/discovery/molecule/default/molecule.yml
  roles/go/molecule/default/molecule.yml
  roles/manage_flatpak/molecule/default/molecule.yml
  roles/manage_packages/molecule/default/molecule.yml
  roles/manage_security_services/molecule/default/molecule.yml
  roles/manage_snap_packages/molecule/default/molecule.yml
  roles/neovim/molecule/default/molecule.yml
  roles/nodejs/molecule/default/molecule.yml
  roles/os_configuration/molecule/default/molecule.yml
  roles/rust/molecule/default/molecule.yml
  roles/terminal_config/molecule/default/molecule.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

fix: add retry logic to all pacman tasks for transient mirror timeouts
  roles/manage_flatpak/tasks/main.yml
  roles/manage_packages/tasks/manage-packages-Archlinux.yml
Due: ansible-failure-patterns, conditional-safety

fix: make pacman cache updates idempotent with changed_when: false
  roles/manage_packages/tasks/manage-packages-Archlinux.yml
Due: ansible-failure-patterns, conditional-safety

fix: set explicit tmpfs permissions (mode=1777) to prevent mkdir failures
  roles/configure_users/molecule/default/molecule.yml
  roles/discovery/molecule/default/molecule.yml
  roles/go/molecule/default/molecule.yml
  roles/manage_flatpak/molecule/default/molecule.yml
  roles/manage_packages/molecule/default/molecule.yml
  roles/manage_security_services/molecule/default/molecule.yml
  roles/manage_snap_packages/molecule/default/molecule.yml
  roles/neovim/molecule/default/molecule.yml
  roles/nodejs/molecule/default/molecule.yml
  roles/os_configuration/molecule/default/molecule.yml
  roles/rust/molecule/default/molecule.yml
  roles/terminal_config/molecule/default/molecule.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

fix: convert tmpfs to list format with inline options for Molecule compatibility
  roles/configure_users/molecule/default/molecule.yml
  roles/discovery/molecule/default/molecule.yml
  roles/go/molecule/default/molecule.yml
  roles/manage_flatpak/molecule/default/molecule.yml
  roles/manage_packages/molecule/default/molecule.yml
  roles/manage_security_services/molecule/default/molecule.yml
  roles/manage_snap_packages/molecule/default/molecule.yml
  roles/neovim/molecule/default/molecule.yml
  roles/nodejs/molecule/default/molecule.yml
  roles/os_configuration/molecule/default/molecule.yml
  roles/rust/molecule/default/molecule.yml
  roles/terminal_config/molecule/default/molecule.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

fix: upload release tarball to Generic Package Registry
  .gitlab-ci.yml
Due: ansible-failure-patterns, conditional-safety

refactor: merge update-changelog into create-release job
  .gitlab-ci.yml
Due: ansible-failure-patterns, conditional-safety

chore: bump version to 1.2.5
  galaxy.yml
Due: ansible-failure-patterns, conditional-safety

fix: remove unimplemented rsyslog remote logging variables (issue #36)
  defaults/main.yml
  docs/reference/variables-reference.rst
  inventory/group_vars/all.yml.example
Due: ansible-failure-patterns, conditional-safety

fix: use GITLAB_RELEASE_TOKEN with oauth2 prefix for changelog push
  .gitlab-ci.yml
Due: ansible-failure-patterns, conditional-safety

fix: remove untested user-level flatpak support (issue #21)
  roles/manage_flatpak/README.md
  roles/manage_flatpak/meta/argument_specs.yml
  roles/manage_flatpak/molecule/default/molecule.yml
  roles/manage_flatpak/tasks/main.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

perf: replace Firefox with Flatseal in flatpak tests (issue #38)
  roles/manage_flatpak/README.md
  roles/manage_flatpak/molecule/default/molecule.yml
  roles/manage_flatpak/molecule/default/verify.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

update changelog for v1.2.0
  CHANGELOG.md
Due: none

fix: differentiate VM test packages per distribution (issue #19)
  vm-test-infrastructure/README.md
  vm-test-infrastructure/test-scenarios/server-config.yml
Due: ansible-failure-patterns, conditional-safety

fix: wrap hardening role calls in blocks with become: true (issue #39)
  roles/os_configuration/tasks/configure-Linux.yml
Due: ansible-failure-patterns, conditional-safety

test: add Debian test scenarios to manage_packages (issues #19, #20)
  roles/manage_packages/molecule/default/molecule.yml
  roles/manage_packages/molecule/default/verify.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

feat: add Pacman multilib repository detection (issue #28)
  roles/discovery/tasks/scan-packages.yml
  roles/discovery/templates/simple_host_vars.yml.j2
Due: validate-jinja2-templates, ansible-failure-patterns, conditional-safety

Release v1.2.5
  defaults/main.yml
  docs/reference/variables-reference.rst
  galaxy.yml
  inventory/group_vars/all.yml.example
  roles/discovery/tasks/scan-packages.yml
  roles/discovery/templates/simple_host_vars.yml.j2
  roles/manage_flatpak/README.md
  roles/manage_flatpak/meta/argument_specs.yml
  roles/manage_flatpak/molecule/default/molecule.yml
  roles/manage_flatpak/molecule/default/verify.yml
  roles/manage_flatpak/tasks/main.yml
  roles/manage_packages/molecule/default/molecule.yml
  roles/manage_packages/molecule/default/verify.yml
  roles/os_configuration/tasks/configure-Linux.yml
  vm-test-infrastructure/README.md
  vm-test-infrastructure/test-scenarios/server-config.yml
Due: validate-jinja2-templates, ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

fix: remove method and user from manage_flatpak defaults (issue #21)
  roles/manage_flatpak/defaults/main.yml
Due: ansible-failure-patterns, conditional-safety

update changelog for v1.2.5
  CHANGELOG.md
Due: none

fix vars associated with hardeing role
  .gitlab-ci.yml
  defaults/main.yml
  docs/v1.2.5-prioritization.md
  roles/os_configuration/tasks/configure-Linux.yml
Due: ansible-failure-patterns, conditional-safety

"fix become issue"
  roles/os_configuration/tasks/configure-Linux.yml
Due: ansible-failure-patterns, conditional-safety

Edit .gitignore
  .gitignore
Due: none

Delete CLAUDE.md
  CLAUDE.md
Due: none
