Repository wolskies/ansible-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-jinja2-templates, ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

Path conditions:
  validate-jinja2-templates: any of: \.j2$
  ansible-failure-patterns: any of: \.(yml|yaml)$
  conditional-safety: any of: \.(yml|yaml)$
  test-data-realism: any of: molecule/.*/.*\.yml$
  molecule-coverage: any of: molecule/.*

implement REQ-RUST-001/002 rust role comprehensive enhancement
  roles/neovim/molecule/default/molecule.yml
  roles/neovim/molecule/default/verify.yml
  roles/neovim/tasks/main.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

update SRD neovim section to reflect comprehensive role implementation
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  docs/validation/neovim_role_validation.md
Due: none

implement automated documentation generation and GitLab Pages publishing
  .gitlab-ci.yml
  README.md
  docs/generated/collection_overview.rst
  docs/generated/role_configure_user.rst
  docs/generated/role_go.rst
  docs/generated/role_manage_flatpak.rst
  docs/generated/role_manage_packages.rst
  docs/generated/role_manage_security_services.rst
  docs/generated/role_manage_snap_packages.rst
  docs/generated/role_neovim.rst
  docs/generated/role_nodejs.rst
  docs/generated/role_os_configuration.rst
  docs/generated/role_rust.rst
  docs/generated/role_terminal_config.rst
  roles/docker_compose_generic/README.md
  roles/install_docker/README.md
  roles/terminal_config/README.md
  scripts/generate_collection_docs.py
  scripts/generate_enhanced_docs.py
Due: ansible-failure-patterns, conditional-safety

fix GitLab CI YAML syntax for documentation pipeline
  .gitlab-ci.yml
Due: ansible-failure-patterns, conditional-safety

fix GitLab CI YAML syntax errors for documentation pipeline
  .gitlab-ci.yml
  scripts/create_sphinx_files.py
Due: ansible-failure-patterns, conditional-safety

fix SRD alignment issues across all roles and argument_specs validation
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  roles/configure_user/defaults/main.yml
  roles/configure_user/molecule/default/molecule.yml
  roles/go/defaults/main.yml
  roles/manage_flatpak/defaults/main.yml
  roles/manage_packages/defaults/main.yml
  roles/manage_packages/meta/argument_specs.yml
  roles/manage_security_services/molecule/default/molecule.yml
  roles/manage_snap_packages/defaults/main.yml
  roles/neovim/defaults/main.yml
  roles/nodejs/defaults/main.yml
  roles/os_configuration/defaults/main.yml
  roles/os_configuration/meta/argument_specs.yml
  roles/os_configuration/molecule/default/molecule.yml
  roles/rust/defaults/main.yml
  roles/terminal_config/defaults/main.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

fix argument validation for os_configuration and manage_security_services roles
  roles/configure_user/molecule/default/molecule.yml
  roles/manage_security_services/meta/argument_specs.yml
  roles/manage_security_services/molecule/default/molecule.yml
  roles/os_configuration/defaults/main.yml
  roles/os_configuration/meta/argument_specs.yml
  roles/os_configuration/molecule/default/molecule.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

fix REQ-CU-012 configure_user git variable alignment with SRD
  roles/configure_user/molecule/default/molecule.yml
  roles/configure_user/tasks/configure-cross-platform.yml
  roles/configure_user/tasks/main.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

fix YAML formatting in VM validation files for prettier compliance
  vm-test-infrastructure/final-release-testing/QUICK_START.md
  vm-test-infrastructure/final-release-testing/README.md
  vm-test-infrastructure/final-release-testing/cleanup.sh
  vm-test-infrastructure/final-release-testing/deploy-servers.yml
  vm-test-infrastructure/final-release-testing/deploy-workstations.yml
  vm-test-infrastructure/final-release-testing/run-comprehensive-test.sh
  vm-test-infrastructure/final-release-testing/run-discovery.yml
  vm-test-infrastructure/final-release-testing/terraform/cloud-init/network-config.yml
  vm-test-infrastructure/final-release-testing/terraform/cloud-init/user-data.yml
  vm-test-infrastructure/final-release-testing/terraform/domain.xsl
  vm-test-infrastructure/final-release-testing/terraform/main.tf
  vm-test-infrastructure/final-release-testing/terraform/outputs.tf
  vm-test-infrastructure/final-release-testing/terraform/templates/inventory.tpl
  vm-test-infrastructure/final-release-testing/terraform/templates/ssh-config.tpl
  vm-test-infrastructure/final-release-testing/test-scenarios/server-config.yml
  vm-test-infrastructure/final-release-testing/test-scenarios/workstation-config.yml
  vm-test-infrastructure/final-release-testing/validation/templates/final-report.j2
  vm-test-infrastructure/final-release-testing/validation/validate-server.yml
  vm-test-infrastructure/final-release-testing/validation/validate-workstation.yml
Due: validate-jinja2-templates, ansible-failure-patterns, conditional-safety

fix datetime.UTC compatibility issue in documentation generation
  scripts/create_sphinx_files.py
Due: none

fix ansible-lint violations and add CI release automation
  .ansible-lint
  .gitlab-ci.yml
  vm-test-infrastructure/final-release-testing/run-discovery.yml
  vm-test-infrastructure/final-release-testing/validation/validate-server.yml
  vm-test-infrastructure/final-release-testing/validation/validate-workstation.yml
Due: ansible-failure-patterns, conditional-safety

clean up VM test infrastructure - keep only final-release-testing
  vm-test-infrastructure/phase1-local-linux/cleanup.sh
  vm-test-infrastructure/phase1-local-linux/run-test.sh
  vm-test-infrastructure/phase1-local-linux/terraform/cloud-init/network-config.yml
  vm-test-infrastructure/phase1-local-linux/terraform/cloud-init/user-data-debian12.yml
  vm-test-infrastructure/phase1-local-linux/terraform/cloud-init/user-data-ubuntu2204.yml
  vm-test-infrastructure/phase1-local-linux/terraform/main.tf
  vm-test-infrastructure/phase1-local-linux/terraform/outputs.tf
  vm-test-infrastructure/phase1-local-linux/terraform/templates/inventory.tpl
  vm-test-infrastructure/phase1-local-linux/terraform/variables.tf
  vm-test-infrastructure/phase1-local-linux/test-scenarios/ci-based-test.yml
  vm-test-infrastructure/phase1-local-linux/test-scenarios/confidence-test.yml
  vm-test-infrastructure/phase1-local-linux/validate-config.sh
  vm-test-infrastructure/phase1-local-linux/validate-phase1.yml
  vm-test-infrastructure/phase2-remote-macos/cleanup.sh
  vm-test-infrastructure/phase2-remote-macos/run-test.sh
  vm-test-infrastructure/phase2-remote-macos/terraform/main.tf
  vm-test-infrastructure/phase2-remote-macos/terraform/templates/inventory.tpl
  vm-test-infrastructure/phase2-remote-macos/test-scenarios/macos-test.yml
  vm-test-infrastructure/phase3-expanded-linux/EXPANDED_LINUX_PLAN.md
  vm-test-infrastructure/phase3-expanded-linux/cleanup.sh
  vm-test-infrastructure/phase3-expanded-linux/run-test.sh
  vm-test-infrastructure/phase3-expanded-linux/terraform/cloud-init/network-config-static.yml
  vm-test-infrastructure/phase3-expanded-linux/terraform/cloud-init/network-config.yml
  vm-test-infrastructure/phase3-expanded-linux/terraform/cloud-init/user-data.yml
  vm-test-infrastructure/phase3-expanded-linux/terraform/group_vars/all.yml
  vm-test-infrastructure/phase3-expanded-linux/terraform/group_vars/servers.yml
  vm-test-infrastructure/phase3-expanded-linux/terraform/group_vars/workstations.yml
  vm-test-infrastructure/phase3-expanded-linux/terraform/main.tf
  vm-test-infrastructure/phase3-expanded-linux/terraform/templates/inventory.tpl
  vm-test-infrastructure/phase3-expanded-linux/test-scenarios/all.yml
  vm-test-infrastructure/phase3-expanded-linux/test-scenarios/host_vars/arch-workstation.yml
  vm-test-infrastructure/phase3-expanded-linux/test-scenarios/host_vars/debian12-server.yml
  vm-test-infrastructure/phase3-expanded-linux/test-scenarios/servers.yml
  vm-test-infrastructure/phase3-expanded-linux/test-scenarios/validation-placeholder.yml
  vm-test-infrastructure/phase3-expanded-linux/test-scenarios/workstations.yml
  vm-test-infrastructure/phase3-expanded-linux/validate-phase3.yml
Due: ansible-failure-patterns, conditional-safety

update collection README with current SRD specifications
  README.md
Due: none

correct README to reflect 1.0.2 release scope
  README.md
Due: none

update core role READMEs for 1.0.2 release
  roles/configure_system/README.md
  roles/manage_packages/README.md
  roles/os_configuration/README.md
Due: none

fix role READMEs - rewrite based on SRD not outdated content
  roles/configure_user/README.md
  roles/manage_security_services/README.md
  roles/nodejs/README.md
  roles/os_configuration/README.md
  roles/rust/README.md
Due: none

continue SRD-based README updates for manage_packages and configure_user
  roles/configure_user/README.md
  roles/manage_packages/README.md
Due: none

fix manage_packages variable inconsistencies and add collection dependencies
  README.md
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  galaxy.yml
  molecule/configure_system/molecule.yml
  roles/configure_user/meta/main.yml
  roles/go/README.md
  roles/go/meta/main.yml
  roles/manage_flatpak/README.md
  roles/manage_flatpak/meta/main.yml
  roles/manage_packages/README.md
  roles/manage_packages/defaults/main.yml
  roles/manage_packages/meta/main.yml
  roles/manage_security_services/meta/main.yml
  roles/manage_snap_packages/README.md
  roles/manage_snap_packages/meta/main.yml
  roles/neovim/README.md
  roles/neovim/meta/main.yml
  roles/nodejs/README.md
  roles/nodejs/meta/main.yml
  roles/os_configuration/meta/main.yml
  roles/rust/README.md
  roles/rust/meta/main.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

update VM test infrastructure to use OpenTofu instead of Terraform
  vm-test-infrastructure/LESSONS_LEARNED.md
  vm-test-infrastructure/MASTER_REFERENCE_CONFIG.yml
  vm-test-infrastructure/final-release-testing/cleanup.sh
  vm-test-infrastructure/final-release-testing/deploy-servers.yml
  vm-test-infrastructure/final-release-testing/run-comprehensive-test.sh
  vm-test-infrastructure/final-release-testing/test-scenarios/server-config.yml
  vm-test-infrastructure/final-release-testing/test-scenarios/workstation-config.yml
Due: ansible-failure-patterns, conditional-safety

fix GitLab CI SSH authentication
  .gitlab-ci.yml
  group_vars/all.yml.example
  inventory/group_vars/all.yml.example
  vm-test-infrastructure/final-release-testing/run-comprehensive-test.sh
  vm-test-infrastructure/final-release-testing/terraform/main.tf
  vm-test-infrastructure/final-release-testing/terraform/tfplan
  vm-test-infrastructure/final-release-testing/terraform/vm_output.json
Due: ansible-failure-patterns, conditional-safety
