Repository wolskies/ansible-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-jinja2-templates, ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

validate-jinja2-templates:
  name: Validate Jinja2 Templates
  entry: python3 scripts/validate_templates.py
  language: python
  additional_dependencies:
  - jinja2

ansible-failure-patterns:
  name: Check for patterns that caused test failures
  entry: bash -c
  language: system
  args:
  ...

conditional-safety:
  name: Check conditional safety patterns
  entry: bash -c
  language: system
  args:
  ...

test-data-realism:
  name: Check test data realism
  entry: bash -c
  language: system
  args:
  ...

molecule-coverage:
  name: Validate molecule test coverage
  entry: bash -c
  language: system
  args:
  ...

Initial commit
  .gitlab-ci.yml
  molecule/vm_test/update_ips.sh
  plugins/README.md
  pytest.ini
  scripts/generate_role_docs.py
  tox.ini
  vm-test-infrastructure/final-release-testing/cleanup.sh
  vm-test-infrastructure/final-release-testing/run-comprehensive-test.sh
Due: ansible-failure-patterns, conditional-safety, molecule-coverage

fix GitLab CI HTTP authentication with HTTPS URL rewriting
  .gitlab-ci.yml
Due: ansible-failure-patterns, conditional-safety

"multiple documentation issues"
  README.md
  inventory/group_vars/all.yml.example
  playbooks/configure_system.yml
  roles/configure_user/tasks/main.yml
Due: ansible-failure-patterns, conditional-safety

more documentation cleanup
  README.md
  defaults/main.yml
  inventory/group_vars/all.yml.example
  roles/configure_system/defaults/main.yml
  roles/os_configuration/molecule/default/molecule.yml
  roles/os_configuration/molecule/default/verify.yml
  roles/os_configuration/tasks/configure-Linux.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

more documentation fixes
  defaults/main.yml
  roles/configure_user/defaults/main.yml
  roles/configure_user/meta/argument_specs.yml
Due: ansible-failure-patterns, conditional-safety

final docs cleanup
  README.md
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
Due: none

fix configure_users documentation and Arch locale configuration
  README.md
  docs/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  docs/generated/role_configure_users.rst
  docs/validation/CONFIGURE_USERS_VALIDATION_PLAN.md
  roles/configure_users/README.md
  roles/configure_users/defaults/main.yml
  roles/os_configuration/handlers/main.yml
  roles/os_configuration/tasks/configure-Linux.yml
  vm-test-infrastructure/final-release-testing/test-scenarios/server-config.yml
  vm-test-infrastructure/final-release-testing/test-scenarios/workstation-config.yml
Due: ansible-failure-patterns, conditional-safety

fix Arch locale idempotence and update VM test infrastructure
  roles/os_configuration/tasks/configure-Linux.yml
  vm-test-infrastructure/SETUP_GUIDE.md
  vm-test-infrastructure/final-release-testing/deploy-servers.yml
  vm-test-infrastructure/final-release-testing/deploy-workstations.yml
  vm-test-infrastructure/final-release-testing/terraform/cloud-init/user-data.yml
  vm-test-infrastructure/final-release-testing/terraform/main.tf
  vm-test-infrastructure/final-release-testing/terraform/tfplan
  vm-test-infrastructure/final-release-testing/terraform/vm_output.json
  vm-test-infrastructure/network-setup-isolated.sh
Due: ansible-failure-patterns, conditional-safety

fix verify task conditional for arch-ntp-test host
  roles/os_configuration/molecule/default/verify.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

refactor configure_users role to focus on user preferences only
  roles/configure_users/README.md
  roles/configure_users/defaults/main.yml
  roles/configure_users/meta/argument_specs.yml
  roles/configure_users/molecule/default/converge.yml
  roles/configure_users/molecule/default/molecule.yml
  roles/configure_users/molecule/default/prepare.yml
  roles/configure_users/molecule/default/verify.yml
  roles/configure_users/tasks/configure-single-user.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

fix prettier formatting in configure_users molecule.yml
  roles/configure_users/molecule/default/molecule.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

update READMEs to reflect configure_users role refactoring
  README.md
  roles/configure_system/README.md
Due: none

remove unnecessary explanatory verbiage from documentation
  README.md
  roles/configure_system/README.md
  roles/configure_users/README.md
  roles/configure_users/defaults/main.yml
  roles/configure_users/meta/argument_specs.yml
  roles/configure_users/tasks/configure-single-user.yml
Due: ansible-failure-patterns, conditional-safety

remove garbage comments from task files
  roles/configure_system/tasks/main.yml
  roles/configure_users/tasks/configure-single-user.yml
  roles/configure_users/tasks/main.yml
  roles/discovery/tasks/main.yml
  roles/discovery/tasks/scan-firewall.yml
  roles/go/tasks/main.yml
  roles/manage_flatpak/tasks/main.yml
  roles/manage_snap_packages/tasks/main.yml
  roles/neovim/tasks/main.yml
  roles/nodejs/tasks/main.yml
  roles/rust/tasks/main.yml
  roles/terminal_config/tasks/main.yml
Due: ansible-failure-patterns, conditional-safety

remove marketing language and handholding from READMEs
  README.md
  roles/configure_system/README.md
  roles/configure_users/README.md
  roles/manage_packages/README.md
Due: none

Edit README.md
  README.md
Due: none

chore: add terraform runtime files to gitignore
  .gitignore
Due: none

chore: update CI to use direct ansible commands instead of Makefile
  .gitlab-ci.yml
Due: ansible-failure-patterns, conditional-safety

fix manage_security_services argument_spec compliance
  roles/manage_security_services/defaults/main.yml
  roles/manage_security_services/templates/jail.local.j2
Due: validate-jinja2-templates, ansible-failure-patterns, conditional-safety

update collection defaults to match argument_spec types
  defaults/main.yml
  inventory/group_vars/all.yml.example
  molecule/configure_system/molecule.yml
  molecule/vm_test/molecule.yml
  roles/discovery/README.md
  vm-test-infrastructure/MASTER_REFERENCE_CONFIG.yml
  vm-test-infrastructure/final-release-testing/BRIDGE_SETUP.md
  vm-test-infrastructure/final-release-testing/README.md
  vm-test-infrastructure/final-release-testing/terraform/cloud-init/network-config.yml
  vm-test-infrastructure/final-release-testing/terraform/main.tf
  vm-test-infrastructure/final-release-testing/test-scenarios/server-config.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

fix: manage_packages must use ansible_distribution not ansible_os_family
  roles/configure_users/meta/argument_specs.yml
  roles/discovery/tasks/main.yml
  roles/discovery/templates/simple_host_vars.yml.j2
  roles/manage_packages/README.md
  roles/manage_packages/tasks/main.yml
  roles/manage_packages/tasks/manage-packages-Archlinux.yml
  roles/manage_packages/tasks/manage-packages-Darwin.yml
  roles/manage_packages/tasks/manage-packages-Debian.yml
  vm-test-infrastructure/BRIDGE_SETUP.md
  vm-test-infrastructure/QUICK_START.md
  vm-test-infrastructure/README.md
  vm-test-infrastructure/cleanup.sh
  vm-test-infrastructure/deploy-servers.yml
  vm-test-infrastructure/deploy-workstations.yml
  vm-test-infrastructure/final-release-testing/terraform/cloud-init/network-config.yml
  vm-test-infrastructure/final-release-testing/terraform/tfplan
  vm-test-infrastructure/final-release-testing/test-scenarios/workstation-config.yml
  vm-test-infrastructure/final-release-testing/validation/validate-workstation.yml
  vm-test-infrastructure/inventory/hosts.ini
  vm-test-infrastructure/run-comprehensive-test.sh
  vm-test-infrastructure/run-discovery.yml
  vm-test-infrastructure/ssh-config
  vm-test-infrastructure/terraform/cloud-init/arch-user-data.yml
  vm-test-infrastructure/terraform/cloud-init/network-config.yml
  vm-test-infrastructure/terraform/cloud-init/user-data.yml
  vm-test-infrastructure/terraform/configure-arch-network.sh
  vm-test-infrastructure/terraform/domain.xsl
  vm-test-infrastructure/terraform/main.tf
  vm-test-infrastructure/terraform/outputs.tf
  vm-test-infrastructure/terraform/templates/inventory.tpl
  vm-test-infrastructure/terraform/templates/ssh-config.tpl
  vm-test-infrastructure/terraform/vm-test-infrastructure/inventory/hosts.ini
  vm-test-infrastructure/test-scenarios/server-config.yml
  vm-test-infrastructure/test-scenarios/workstation-config.yml
  vm-test-infrastructure/validation/reports/final-test-report.txt
  vm-test-infrastructure/validation/templates/final-report.j2
  vm-test-infrastructure/validation/validate-server.yml
  vm-test-infrastructure/validation/validate-workstation.yml
Due: validate-jinja2-templates, ansible-failure-patterns, conditional-safety

fix: update manage_packages molecule tests to use distribution keys
  roles/manage_packages/molecule/default/molecule.yml
Due: ansible-failure-patterns, conditional-safety, test-data-realism, molecule-coverage

docs: begin documentation restructure with Sphinx
  .gitignore
  defaults/main.yml
  docs/index.rst
  docs/installation.rst
  docs/quickstart.rst
  docs/roles/index.rst
  docs/roles/manage_packages.rst
  docs/testing/index.rst
  scripts/create_sphinx_files.py
Due: ansible-failure-patterns, conditional-safety

docs: migrate testing documentation to Sphinx
  docs/testing/molecule-architecture.rst
  docs/testing/running-tests.rst
  docs/testing/vm-testing.rst
  docs/testing/writing-tests.rst
Due: none

docs: migrate development docs and clean up markdown files
  docs/DEVELOPMENT_WORKFLOW.md
  docs/archive/SOFTWARE_REQUIREMENTS_DOCUMENT.md
  docs/archive/TEST_REQUIREMENTS_DOCUMENT.md
  docs/development/contributing.rst
  docs/development/index.rst
  docs/development/tdd-process.rst
  docs/development/workflow.rst
  docs/generated/collection_overview.rst
  docs/generated/role_configure_users.rst
  docs/generated/role_manage_security_services.rst
  docs/generated/role_os_configuration.rst
  docs/molecule-testing.md
  vm-test-infrastructure/BRIDGE_SETUP.md
  vm-test-infrastructure/LESSONS_LEARNED.md
  vm-test-infrastructure/QUICK_START.md
  vm-test-infrastructure/README.md
  vm-test-infrastructure/SETUP_GUIDE.md
Due: none

chore: complete Sphinx documentation setup for GitLab Pages
  .gitlab-ci.yml
  docs/conf.py
  docs/installation.rst
  docs/reference/index.rst
  docs/reference/modules-reference.rst
  docs/reference/requirements.rst
  docs/reference/variables-reference.rst
  docs/roles/index.rst
  docs/user-guide/configuration.rst
  docs/user-guide/index.rst
  docs/user-guide/platform-support.rst
  docs/user-guide/variables.rst
  scripts/create_sphinx_files.py
Due: ansible-failure-patterns, conditional-safety

chore: bump version to 1.2.0 (pre-release)
  galaxy.yml
Due: ansible-failure-patterns, conditional-safety

fix: update docs-preview job dependency from generate-docs to build-docs
  .gitlab-ci.yml
Due: ansible-failure-patterns, conditional-safety

docs: complete documentation overhaul and organization
  .claude/README.md
  .claude/context/development-methodology.md
  .claude/context/lessons-learned.md
  .claude/context/testing-strategy.md
  .claude/context/vm-testing-plan.md
  .gitlab-ci.yml
  docs/development/contributing.rst
  docs/development/index.rst
  docs/development/tdd-process.rst
  docs/development/workflow.rst
  docs/index.rst
  docs/installation.rst
  docs/quickstart.rst
  docs/roles/configure_system.rst
  docs/roles/configure_users.rst
  docs/roles/go.rst
  docs/roles/index.rst
  docs/roles/manage_flatpak.rst
  docs/roles/manage_security_services.rst
  docs/roles/manage_snap_packages.rst
  docs/roles/neovim.rst
  docs/roles/nodejs.rst
  docs/roles/os_configuration.rst
  docs/roles/rust.rst
  docs/roles/terminal_config.rst
  docs/testing/index.rst
  docs/user-guide/platform-support.rst
  scripts/generate_collection_docs.py
Due: ansible-failure-patterns, conditional-safety

docs: standardize dependency documentation (WIP)
  docs/DEPENDENCY_DOCUMENTATION_STANDARD.md
  docs/roles/manage_packages.rst
  docs/roles/nodejs.rst
  docs/roles/rust.rst
Due: none

docs: complete dependency documentation standardization
  docs/DEPENDENCY_DOCUMENTATION_STANDARD.md
  docs/roles/configure_system.rst
  docs/roles/configure_users.rst
  docs/roles/go.rst
  docs/roles/manage_flatpak.rst
  docs/roles/manage_security_services.rst
  docs/roles/manage_snap_packages.rst
  docs/roles/neovim.rst
  docs/roles/os_configuration.rst
  docs/roles/terminal_config.rst
Due: none

docs: remove external tool explanations from role documentation
  docs/roles/configure_users.rst
  docs/roles/go.rst
  docs/roles/manage_flatpak.rst
  docs/roles/manage_snap_packages.rst
Due: none

docs: editorial review - remove marketing language and improve accuracy
  docs/index.rst
  docs/installation.rst
  docs/quickstart.rst
  docs/roles/configure_system.rst
  docs/roles/configure_users.rst
  docs/roles/go.rst
  docs/roles/index.rst
  docs/roles/manage_flatpak.rst
  docs/roles/manage_packages.rst
  docs/roles/manage_security_services.rst
  docs/roles/manage_snap_packages.rst
  docs/roles/neovim.rst
  docs/roles/nodejs.rst
  docs/roles/os_configuration.rst
  docs/roles/rust.rst
  docs/roles/terminal_config.rst
Due: none

fix: include generated docs directory in Sphinx build
  scripts/create_sphinx_files.py
Due: none

fix: prevent repeated pacman cache updates for idempotence
  roles/manage_packages/tasks/manage-packages-Archlinux.yml
Due: ansible-failure-patterns, conditional-safety

Path conditions:
  validate-jinja2-templates: any of: \.j2$
  ansible-failure-patterns: any of: \.(yml|yaml)$
  conditional-safety: any of: \.(yml|yaml)$
  test-data-realism: any of: molecule/.*/.*\.yml$
  molecule-coverage: any of: molecule/.*
